<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fia.femaleinaction">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FIADeveloper" >


        <activity android:name="com.fia.femaleinaction.ui.original.CategoryOriginalActivity" />
        <activity android:name="com.fia.femaleinaction.ui.original.ListOriginalActivity" />
        <activity android:name="com.fia.femaleinaction.ui.original.DetailOriginalActivity"
            android:theme="@style/Theme.FIADeveloper.NoActionBar"/>

        <activity android:name="com.fia.femaleinaction.ui.video.ListVideoActivity" />
        <activity android:name="com.fia.femaleinaction.ui.video.DetailVideoActivity"
            android:theme="@style/Theme.FIADeveloper.NoActionBar"/>

        <activity android:name="com.fia.femaleinaction.ui.article.CategoryArticleActivity" />
        <activity android:name="com.fia.femaleinaction.ui.article.ListArticleActivity" />
        <activity android:name="com.fia.femaleinaction.ui.article.DetailArticleActivity"
            android:theme="@style/Theme.FIADeveloper.NoActionBar"/>

        <activity android:name="com.fia.femaleinaction.ui.content.ArticleContentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.fia.femaleinaction.ui.content.OriginalContentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.fia.femaleinaction.ui.content.VideoContentActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.fia.femaleinaction.ui.coaching.ListCoachingActivity" />
        <activity android:name="com.fia.femaleinaction.ui.coaching.CoachingActivity" />

        <activity android:name="com.fia.femaleinaction.ui.coaching.ListCoachActivity" />
        <activity android:name="com.fia.femaleinaction.ui.coaching.DetailCoachActivity"
            android:theme="@style/Theme.FIADeveloper.NoActionBar"/>

        <activity android:name="com.fia.femaleinaction.ui.consultation.ListConsultationActivity" />
        <activity android:name="com.fia.femaleinaction.ui.consultation.ConsultationActivity" />

        <activity android:name="com.fia.femaleinaction.ui.consultation.ListConsultantActivity" />
        <activity android:name="com.fia.femaleinaction.ui.consultation.DetailConsultantActivity"
            android:theme="@style/Theme.FIADeveloper.NoActionBar"/>

        <activity android:name="com.fia.femaleinaction.ui.ProfileActivity"
            android:theme="@style/Theme.FIADeveloper.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.fia.femaleinaction.ui.report.ReportActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.fia.femaleinaction.ui.report.ListReportActivity" />
        <activity android:name="com.fia.femaleinaction.ui.report.DetailReportActivity" />

        <activity android:name="com.fia.femaleinaction.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>